[Desktop Entry]
Icon=text-html
Name=http://www-eep.physik.hu-berlin.de/teaching/lab/compt/
Type=Link
URL[$e]=http://www-eep.physik.hu-berlin.de/teaching/lab/compt/
